<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="containt" style="background-color: #deeaf6;">     
        <div class="text" style="padding: 0.1rem;padding-left: 1rem; font-style: initial; font-weight: 500;">
            <p>Hi <span id="user">${}</span>,<br/>
                Thank you for reaching out!<br/>
            </p>
                <p style="max-width: 30rem; font-size: 0.95rem;">We have received your queries regarding <span id="needHelp">${}</span>. We will get in touch with you shortly.</p>                        
                <p>Message</p>
                <p>
                Regards,<br/>
                Automation Factory
            </p>
        </div>        
    </section>
</body>
</html>